<p>Edit Course Details</p>

<form action="/courses/<%=@course.id%>" method="post">
  <label for="title">Course title:</label>
  <input type="text" name="title" id="title" value="<%=@course.title%>"/>

  <label for="day">Day:</label>
  <input type="text" name="day" id="day" value="<%=@course.day%>">

  <label for="capacity">Capacity:</label>
  <input type="text" name="capacity" id="capacity" value="<%=@course.capacity%>">

  <input type="submit" value="Update Course Details">
</form>
