<h2>Courses</h2>

<a href="/courses/new">
  <button>Create new course</button>
</a>

<% for course in @courses %>
<p>Title: <%= course.title %>
  <a href="/courses/<%= course.id%>">
    <button>Course details</button>
  </a>
</p>
<% end %>
