<p>New Course Details</p>

<form action="/courses" method="post">
  <label for="title">Course title:</label>
  <input type="text" name="title" id="title"/>

  <label for="day">Day:</label>
  <input type="text" name="day" id="day">

  <label for="capacity">Capacity:</label>
  <input type="text" name="capacity" id="capacity">

  <label for="gender_requirement">Gender Requirement (input 'nil' if none):</label>
  <input type="text" name="gender_requirement" id="gender-requirement">

  <label for="age_requirement">Age Requirement (input '0' if none):</label>
  <input type="text" name="age_requirement" id="age-requirement">

  <input type="submit" value="Add Course Details">
</form>
