<h3>Students on Course</h3>

<% for student in @students %>
  <p>Name: <%= student.first_name %> <%= student.last_name %>
    <a href="/students/<%=student.id%>">
      <button>Student details</button>
    </a>
  </p>
<% end %>
