<p>Students on Course</p>

<% for student in @students %>
  <p>Name: <%= student.first_name %> <%= student.last_name %>
    <a href="/students/<%=student.id%>">Click here for details</a>
  </p>
<% end %>
