<h3>Students</h3>

<a href="/students/new">
  <button>Enroll a new student</button>
</a>

<% for student in @students %>
  <p>Name: <%= student.first_name %> <%= student.last_name %>
    <a href="/students/<%=student.id%>">
      <button>Student details</button>
    </a>
  </p>
<% end %>
