<p>New Student Details</p>

<form action="/students" method="post">
  <label for="first-name">First name:</label>
  <input type="text" name="first_name" id="first-name"/>

  <label for="last-name">Last name:</label>
  <input type="text" name="last_name" id="last-name">

  <label for="age">Age:</label>
  <input type="text" name="age" id="age">

  <label for="gender">Gender: (please indicate "Male", "Female" or "Other")</label>
  <input type="text" name="gender" id="gender">

  <input type="submit" value="Add Student Details">
</form>
